




 </body>
<footer >
 <nav class="navbar fixed-bottom navbar-light " style="padding-bottom:0; background-color:#282828;" >
  <a class="navbar-brand" href="/" style="color:#e0dede;font-family: 'Dancing Script', cursive;"> <i class="copyright outline icon"></i>2018.Du.Cutoffs.online  <i class="binoculars icon" ></i></a>
  <li class="nav-item">

          <a href="https://www.facebook.com/duupdates/">  <i class="facebook icon"></i></a>

       </li>
       <li class="nav-item">

              <a href="https://www.instagram.com/explore/locations/1025514988/lady-shri-ram-college-delhi-university/"> <i class="instagram icon"></i></a>

          </li>
          <li class="nav-item">

                <a href="https://twitter.com/search?q=%23du"> <i class="twitter icon"></i></a>

             </li>
             <li class="nav-item">

                <a href="https://plus.google.com/discover">   <i class="google plus icon"></i></a>

                </li>


</nav>
</footer>
</html>
