<% include partials/header %>



<div class="ui container" style="padding-top:50px" >
<div class="ui container">
<div class="ui red segment">
  <h2>How this work-</h2>
  <b><p style="font-family: 'Dancing Script', cursive; font-size:30px;">"Just fill out your credentials and get the list of eligible colleges of Delhi-University."</p></b>
  <p style="font-family: 'Dancing Script', cursive; font-size:30px;">Predict your desirable college in Delhi University.</p>
  <p style="font-family: 'Dancing Script', cursive; font-size:30px;">Du-Cutoff Classifier works on the basis of cut-off list provided by the <i>Delhi-University</i> , Fill  Out  Your academic detail and sort out your desirable college under DU. </p>
</div>
</div>
<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">About Delhi-University</h1>
<p>The University of Delhi, informally known as Delhi University (DU), is a collegiate public central university, located in New Delhi, India. It was founded in 1922 by an Act of the Central Legislative Assembly. As a collegiate university, its main functions are divided between the academic departments of the university and affiliated colleges. Consisting of three colleges, two faculties, and 750 students at its founding, the University of Delhi has since become India's largest institution of higher learning and among the largest in the world. The university currently consists of 16 faculties and 86 departments distributed across its North and South campuses. It has 77 affiliated colleges and 5 other institutes with an enrollment of over 132,000 regular students and 261,000 non-formal students. The Vice-President of India serves as the University's chancellor.

DU is a member of the Association of Commonwealth Universities, Association of Indian Universities, and Universitas 21, a global network of research-intensive universities.

DU has graduated many notable alumni, including seven heads of state or government and two Nobel laureates.</p>
</div>
</div>
<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">Present form</h1>
<p>The University has grown into one of the largest universities in India. At present, there are 16 faculties, 86 academic departments, 77 colleges and 5 other recognised institutes spread across city, with 132,435 regular students (114,494 undergraduates and 17,941 postgraduates). There are also 261,169 students in non-formal education programmes (258,831 undergraduates and 2,338 postgraduates). DU's chemistry, geology, zoology, sociology and history departments have been awarded the status of Centres of Advanced Studies. These Centres of Advanced Studies have carved a niche for themselves as centres of excellence in teaching and research in their respective areas. In addition, a number of the university's departments are also receiving grants under the Special Assistance Programme of the University Grants Commission in recognition of their outstanding academic work.[8]

DU is one of the most sought after institutions of higher education in India. It also has one of the highest publication counts among Indian universities.[9]

The annual honorary degree ceremony of the University have been conferred upon several distinguished people, which includes film actor Amitabh Bachchan, former Chief Minister of Delhi Sheila Dikshit, cartoonist R. K. Laxman, chemist C. N. R. Rao[10] and former Prime Minister of the United Kingdom Gordon Brown</p>
</div>
</div>

<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">Faculties</h1>
<p>
Faculty of Mathematical Sciences
The University of Delhi's 86 academic departments are divided into 16 faculties.
</p>
<p><i class="angle double right icon"></i>Faculty of Applied Social Sciences & Humanities</p>
<p><i class="angle double right icon"></i>Faculty of Arts</p>
<p><i class="angle double right icon"></i>Faculty of Commerce and Business Studies</p>
<p><i class="angle double right icon"></i>Faculty of Education</p>
<p><i class="angle double right icon"></i>Faculty of Interdisciplinary and Applied Sciences</p>
<p><i class="angle double right icon"></i>Faculty of Law</p>
<p><i class="angle double right icon"></i>Faculty of Management Studies</p>
<p><i class="angle double right icon"></i>Faculty of Mathematical Sciences</p>
<p><i class="angle double right icon"></i>Faculty of Medical Sciences</p>
<p><i class="angle double right icon"></i>Faculty of Music and Fine Arts</p>
<p><i class="angle double right icon"></i>Faculty of Open Learning: The faculty is concerned with distance education.</p>
<p><i class="angle double right icon"></i>Faculty of Science</p>
<p><i class="angle double right icon"></i>Faculty of Social Sciences</p>
<p><i class="angle double right icon"></i>Faculty of Technology: The faculty offers courses in Engineering and Technology. The faculty earlier included the Delhi College of Engineering, before it was transformed into the Delhi Technological University currently it includes only Netaji Subhas Institute of Technology.</p>
</div>
</div>

<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">Rankings</h1>
<p>
University rankings
General – international
QS (World) (2018)	481-490
QS (BRICS) (2018)	41
QS (Asia) (2018)[41]	72
Times (World) (2018)[42]	601-800
Times (BRICS) (2017)[43]	109
Times (Asia) (2018)[44]	144
General – India
NIRF (Overall) (2018)[45]	14
NIRF (Universities) (2018)[46]	7
Law – India
The Week
Internationally, the University of Delhi was ranked 481-490 in the QS World University Rankings of 2018[39]. The same rankings ranked it 72 in Asia[41] and 41 among BRICS nations.[40] It was ranked 601-800 in the world by the Times Higher Education World University Rankings of 2018,[42] 144 in Asia[44] and 109 among BRICS & Emerging Economies University Rankings in 2017. In India, it was ranked 14 overall by the National Institutional Ranking Framework in 2018[45] and 7th among universities.

The Faculty of Law was ranked third in India by The Week's "Top Law Colleges In 2017."</p>
</div>
</div>

<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">Sports</h1>
<p>Delhi University Stadium has a rugby sevens stadium, situated within the North Campus. Spread over 10,000 square metres (110,000 sq ft), the stadium has a seating capacity of 2,500 permanent and 7,500 temporary seats. Construction began in 2008 and the stadium was inaugurated in July 2010, ahead of the 2010 Commonwealth Games.[48] It also includes a training area for netball, boxing, women's wrestling and athletics.[49][50]

After the games the stadium was handed over to the university by Commonwealth Games Organising Committee, there after in 2011, the university initiated an extensive upgrade plan, to create a multi-purpose arena with both outdoor and indoor facilities.[51] After it was completed, the university opened access of its facilities in late 2011</p>
</div>
</div>
<div class="ui container">
<div class="ui red segment" >
  <h1 style="font-family: 'Dancing Script', cursive;">Notable alumni</h1>
<p>Notable alumni in Indian politics include current Prime Minister of India and former Chief Minister of Gujarat Narendra Modi; lawyer and current Minister of Finance Arun Jaitley; Foreign Secretary of India Vijay Keshav Gokhale;[53][54] former diplomat, writer and Member of Parliament Shashi Tharoor; fifth President of India Fakhruddin Ali Ahmed; sixth Chief Minister of Delhi Sheila Dikshit; fourth Chief Minister of Uttar Pradesh and India's first woman Chief Minister Sucheta Kriplani; economist and former leader of the Janata Party Subramanian Swamy; fourteenth and current Chief Minister of Odisha Naveen Patnaik; industrialist and former Member of Parliament Naveen Jindal; diplomat and Foreign Secretary Jyotindra Nath Dixit; former Deputy Chairman of the Planning Commission Montek Singh Ahluwalia; former Minister of State for Corporate and Minority Affairs Salman Khurshid; former Union Minister for Human Resource Development Kapil Sibal; former Minister of Information and Broadcasting Ambika Soni; former Union Minister for Disinvestment Arun Shourie;[55] and former Chief Minister of Delhi and Governor of Rajasthan Madan Lal Khurana.

DU has educated numerous foreign politicians and heads of state and government including State Counsellor of Myanmar Aung San Suu Kyi, third President of Malawi Bingu wa Mutharika, former Prime Minister of Nepal Girija Prasad Koirala, sixth President of Pakistan Muhammad Zia-ul-Haq,[56] and two former Prime Ministers of Bhutan, Sangay Ngedup, and Khandu Wangchuk.</p>
<p>DU has also produced a large number of major actors and actresses of Indian cinema and theatre including Amitabh Bachchan, Shah Rukh Khan, Manoj Bajpayee, Konkona Sen Sharma, Anurag Kashyap, Arjun Rampal, Neha Dhupia, Mallika Sherawat, Imtiaz Ali, Huma Qureshi,[57] Siddharth, Shriya Saran, Vishal Bhardwaj, Aditi Rao Hydari, Shekhar Kapur, Nimrat Kaur, Kabir Khan, and Sidharth Malhotra.

Notable DU alumni in poetry and literature include the Sahitya Akademi Award winning dramatist and playwright Harcharan Singh, the Urdu poet Akhtar ul Iman, and the writers Vikram Seth, Anita Desai, Amitav Ghosh, Kunzang Choden, Upamanyu Chatterjee, Ali Sardar Jafri, and the Padma Vibhushan recipient Khushwant Singh.

Notable alumni in the sciences include physicist Archana Bhattacharyya,[58] theoretical physicist Pran Nath, SLAC physicist Jogesh Pati[59] particle physicist Amitava Raychaudhuri, chemists Charusita Chakravarty and Anil Kumar Tyagi,[60] engineer and "father of the pentium processor" Vinod Dham, mathematician Eknath Prabhakar Ghate, and engineer Yogi Goswami.

Notable alumni in the humanities and social sciences include professor of economics at Harvard University Gita Gopinath; economist and Senior Vice President and Chief Economist of the World Bank Kaushik Basu; historians Arundhati Virmani, Ramnarayan Rawat, Upinder Singh and Usha Sanyal; professor of anthropology at Johns Hopkins University Veena Das; Kathak dancer Uma Sharma; and Bharatnatyam dancer Geeta Chandran.</p>
</div>
</div>


</div>



<% include partials/footer %>
